.calender {
    display: flex;
    justify-content: space-between;
    align-items: center;

    



    .calender-img {
        img {
            width: 441px;
            height: 433px;
        }
    }


}

.calender__frame {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.calender__frame-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 601px;
    align-items: flex-start;

}
