.clients {


    /* flex-direction: column; */
    text-align: center;

    .clients-content {
        /* display: flex; */
        flex-direction: column;
        gap: 11px;
   
        
        /* background-color: rgb(0, 0, 0); */
    }


}
