.clients-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    p {
        font-size: var(--font-size-p-lg-rg);
        font-weight: 400;
    }
}


.clients-content__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;

    height: 98px;
}

.clients-content__img {
    width: 3rem;
}


.clients-content__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* .clients-content__img:hover {
    width: 50px;
} */
