.footer {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-silver);

    --main-footer-text-color: var(--color-white);

    h4, a{
        color: var(--main-footer-text-color);
    }

    .footer__frame {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 2rem;
            gap: 2rem;
        }
    
    
        .footer-big {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--color-black);
    
            padding: 64px 165px;



            @media screen and (max-width: 786px) {
       
                padding: 32px 82px;
                flex-direction: column;
                
                justify-content: center;
            }
        }
    
        .company-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            @media screen and (max-width: 786px) {
                    gap: 20px;
                    align-items: center;
                }
        }
    
        .footer__logo {
            width: 191px;
            height: 30px;
        }
    
        .copyright {
            gap: 0.5rem;
            color: var(--color-white);
        }
    
    
        /* Social */
    
        .social {
            display: flex;
            justify-content: space-between;
        }
    
        .social-links {
    
            display: flex;
            list-style-type: none;
            flex-direction: row;
            gap: 1rem;
        }
    
        .social-link__item-img {
            width: 2rem;
        }
    
    
        /* Links */
    
        .links {
            display: flex;
            flex-direction: row;
            align-items: self-start;
            gap: 30px;
            width: 635px;



            @media screen and (max-width: 786px) {
            
                flex-direction: column;
                width: auto;
                align-items: center;
            }
        }
    
        .links-column {
            display: flex;
            flex-direction: column;
            gap: 24px;

            min-width: 160px;
        }


        .links-column__email {
            display: flex;
            flex-direction: column;
            gap: 24px;

            max-width: 255px;

            @media screen and (max-width: 786px) {
                align-items: center;
            }
        }
    
        .links-column__items {
            display: flex;
            flex-direction: column;
            gap: 12px;
    
            .link-item {
                text-decoration: none;
            }

          
        }

        .email-input{

            



            input {
                /* Desk */
                --input-padding-desk: 10px 21px;
                --input-height-desk: 40px;
                --input-width-desk: 255px;
                
                /* Mobile */
                --input-padding-mob: 6px 16px;
                --input-height-mob: 30px;
                --input-width-mob: 200px;


                --input-border-radius: 8px;
                --input-backgroud-color: rgba(255, 255, 255, 0.2);
                --input-color: var(--color-white);
                --input-font-size: var(--font-size-nd-rg-max);



                border-radius: var(--input-border-radius);


                /* https: //developer.mozilla.org/en-US/docs/Learn_web_development/Howto/Solve_CSS_problems/Make_box_transparent */
                background-color: var(--input-backgroud-color);
              
                
                padding-inline: var(--input-padding-desk);
                width: var(--input-width-desk);
                height: var(--input-height-desk);
                
                color: var(--input-color);
                border: none;
                font-size: var(--input-font-size);


                @media screen and (max-width: 786px) {
                    padding-inline: var(--input-padding-mob);
                    width: var(--input-width-mob);
                    height: var(--input-height-mob);
                }
            }
            
            .input-image {
                background-image: url('/assets/media/icon/input/send.svg');
                background-repeat: no-repeat;
                background-position:right;

            }
        }

}


/* mobile */
 /* @media screen and (max-width: 900px) {
    .footer-big {
        flex-direction: column;
    }
 } */

