
@layer header {

    header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        align-items: center;
        padding: 10px 100px;
    }   
    
    
    .logo {
        /* position:relative;
         */
         margin-right: auto;
    }
    
    
    
    .right-menu {
        align-items: center;
        /* box-sizing: border-box; */
        display: flex;
        /* justify-content:flex-end; */
        position: relative;
    }
    
    
    .header-menu {
        display: flex;
        align-items: center;
        /* position: relative; */
        /* justify-content:space-around; */

    }

    .main-regist-button {
        position: relative;
        padding: 22px;
        /* display: inline-flex; */
        /* display: flex; */

        background-color: var(--color-primary);
        color: var(--color-text);
        padding: 9px 22.7px ;
        cursor: pointer;
        border-radius: 2.7px;
    }
}