@import url('../modules/fonts.css');
@import url('../modules/colors.css');




.main-header{
    
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */


    padding-block: 10px;
    align-items: center;
    justify-content: space-between;

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: auto;
    position: relative;

    .main-header__logo-img {
        cursor: pointer;
    }


    .main-header__nav {
        --main-nav-margin-left: auto;
        --main-nav-margin-right: 23px;
        --main-nav-element-gap: 17px;

        --main-nav-links-color: var(--color-link);


        margin-left: var(--main-nav-margin-left);
        margin-right: var(--main-nav-margin-right);



        ul {
            display: flex;
            list-style-type: none;
            gap: var(--main-nav-element-gap);

        }


        a {
            font-size: 11px;
            color: var(--color-link);
            text-decoration: none;
        }
    }
}



/* .main-header {
   

}
 */

