@import url('../modules/fonts.css');
@import url('../modules/colors.css');

@layer header {
    
    .main-header {
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        /* position: relative; */
        --main-header-padding-block: 21px;
        
        /* Default */
        --btn-display: inline-flex;
        
        --btn-primary-normal-default-noicon-font-size: 20px ;
        --btn-primary-normal-default-noicon-text-color: var(--color-white);
        --btn-primary-normal-default-noicon-background-color: var(--color-primary);
        --btn-primary-normal-default-noicon-border-focus:2px solid var(--color-black);

        




        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: var(--main-header-padding-block);
    
    
    
        .main-nav {
            --main-nav-margin-left: auto;
            --main-nav-margin-right: 23px;
            --main-nav-element-gap: 17px;

            --main-nav-links-color: var(--color-link);
            /* --main-nav-links-font-size: ; */


            margin-left: var(--main-nav-margin-left);
            margin-right: var(--main-nav-margin-right);


            ul {
                display: flex;
                align-items: center;
                gap: var(--main-nav-element-gap);
                list-style: none;   
                
                padding: 0;
                margin: 0;
            }


            a {
                color: var(--color-link);
                text-decoration: none;
            }


        }
    }
    
}