@layer hero-section {
    
    .hero {

      
        display: flex;
        align-items: center;

        justify-content: space-between;
        background-color: var(--color-silver);

        padding: 66px 0;

        .hero__content {
            display: inline-block;
            /* align-items: flex-start; */
            /* gap: var(--hero-content-gap); */
            
            flex-direction: column;
            gap: 11px;
        

            .h1 {
                margin-top: -0.70px;
            }
            .hero__content_primary_color {
                color: var(--color-primary);
            }
            
            p {
                margin-block: 27px;

            }


        }
    }
    
 
}
