.hero {
 
    .hero-container {
        background-color: var(--color-silver);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 415px;
    }

    
    .hero-container__content {
        align-items: flex-start;
        padding: 66px auto;
        
        
        flex-direction: column;
        
        .h2 {
            margin-top: -0.70px;
        }

        .hero-content__primary_color {
            color: var(--color-primary);
            display: block;
        }
        
        p {
            margin-block: 11px;
            margin-bottom: 22px;
        }


    }

    .image {
        img {
            width: 272px;
        }
    }
}



