/* Fonts Module */

:root {
    /* Fonts | Size*/
    --font-family-primary: 'Inter', sans-serif;
    /* Header */
    /* 600 */
    --font-size-xl: 4rem;
    --font-size-lg: 2.25rem;
    --font-size-nd: 1.75rem;
    --font-size-sn: 1.25rem;
  
    --font-size-xl-height: 76px;
    --font-size-lg-height: 44px;
    --font-size-nd-height: 36px;
    --font-size-sn-height: 28px;
  
  
    --font-weight-h-desk: 600;
  
    h1 {
      margin: 0;
      font-size: var(--font-size-xl);
      line-height: var(--font-size-xl-height);
      font-weight: var(--font-weight-h-desk);
    }
  
    h2 {
      margin: 0;
      font-size: var(--font-size-lg);
      line-height: var(--font-size-lg-height);
      font-weight: var(--font-weight-h-desk);
    }
  
    h3 {
      margin: 0;
      font-size: var(--font-size-nd);
      line-height: var(--font-size-nd-height);
      font-weight: var(--font-weight-h-desk);
    }
  
    h4 {
      margin: 0;
      font-size: var(--font-size-sn);
      line-height: var(--font-size-sn-height);
      font-weight: var(--font-weight-h-desk);
    }
  
  
    /* Body */
    /* Regular*/
    /* 400 */
    --font-size-xl-rg: 1.125rem;
    --font-size-lg-rg: 1rem;
    --font-size-nd-rg: 0.875rem;
    --font-size-sn-rg: 0.75rem;
  
    --font-size-xl-rg-height: 28px;
    --font-size-lg-rg-height: 24px;
    --font-size-nd-rg-height: 20px;
    --font-size-sn-rg-height: 16px;
  
    --font-weight-rg-desk: 400;
  
  
    .bd-rg-1 {
      font-size: var(--font-size-xl-rg);
      line-height: var(--font-size-xl-rg-height);
      font-weight: var(--font-weight-rg-desk);
    }
  
    .bd-rg-2 {
      font-size: var(--font-size-lg-rg);
      line-height: var(--font-size-lg-rg-height);
      font-weight: var(--font-weight-rg-desk);
    }
  
    .bd-rg-3 {
      font-size: var(--font-size-nd-rg);
      line-height: var(--font-size-nd-rg-height);
      font-weight: var(--font-weight-rg-desk);
    }
  
    .bd-rg-4 {
      font-size: var(--font-size-sn-rg);
      line-height: var(--font-size-sn-rg-height);
      font-weight: var(--font-weight-rg-desk);
    }
  
    /* Medium */
    /* 500 */
    --font-weight-rg-md-desk: 500;
  
    .bd-rg-md-1 {
      font-size: var(--font-size-xl-rg);
      line-height: var(--font-size-xl-rg-height);
      font-weight: var(--font-weight-rg-md-desk);
    }
  
    .bd-rg-md-2 {
      font-size: var(--font-size-lg-rg);
      line-height: var(--font-size-lg-rg-height);
      font-weight: var(--font-weight-rg-md-desk);
    }
  
    .bd-rg-md-3 {
      font-size: var(--font-size-nd-rg);
      line-height: var(--font-size-nd-rg-height);
      font-weight: var(--font-weight-rg-md-desk);
    }
  
    .bd-rg-md-4 {
      font-size: var(--font-size-sn-rg);
      line-height: var(--font-size-sn-rg-height);
      font-weight: var(--font-weight-rg-md-desk);
    }
    /* Desktop */

    @media screen and (max-width: 1440px) {
        font-size: 16px;

    }


    /* Laptop */
    @media screen and (max-width: 1240px) {
        font-size: 14.5px;
    }

        /* Mobile */
    @media screen and (max-width: 786px) {
        font-size: 13px;
    }



    /* Font Size */
    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-weight: 600;
    } */
  
    /* h1,
    .h1 {
      font-size: var(--font-size-xl-desk);
        line-height: var(--font-size-xl-height);
        font-weight: 600;
      color: var(--color-d_grey);
    }
  
    h2 {
      font-size: var(--font-size-lg-desk);
        line-height: var(--font-size-lg-height);
        font-weight: 600;
      color: var(--color-d_grey);
    }
  
    h3 {
      font-size: var(--font-size-nd-desk);
        line-height: var(--font-size-nd-height);
        font-weight: 600;
      color: var(--color-d_grey);
    }
  
    h4 {
      font-size: var(--font-size-sn-desk);
        line-height: var(--font-size-sn-height);
        font-weight: 600;
      color: var(--color-d_grey);
    }
  
    */

     p {
      margin: 0;
      padding: 0;
      line-height: 24px;
      /* color: var(--color-grey); */
    }

    .font-white {
      color: var(--color-white);
    }

    .font-black {
      color: var(--color-black);
    }
        /*
    a {
        font-weight: 500;
        /* line-height: 17px; 
        font-size: var(--font-size-p-nd-rg);
    } */
  }
