/* Keyframe */
@import  url('./modules/keyframes.css');

@import url('./modules/normalize.css');
@import url('./modules/fonts.css');
@import url('./modules/colors.css');
@import url('./modules/buttons.css');
@import url('./modules/input.css');
@import url('./modules/media-view.css');
/* Headre */
@import url('./sections/header.css');

/* Hero */
@import url('./sections/hero_section.css');

/* Clients */
@import url('./sections/clients.css');

/* Comunity */
@import url('./sections/comunity.css');
@import url('./sections/unlock.css');
@import url('./sections/achievements.css');
@import url('./sections/calender.css');
@import url('./sections/customers.css');
@import url('./sections/community-updates.css');
@import url('./sections/footer.css');


/* Scale */

/* * {
  box-sizing: border-box;
} */
 
* {
    transition: all 0.3s;
}
@layer base {
  :root {
    /* Layaut */

    --body-layout-max-width: 1440px;
    /* --body--inline-padding: 144px; */
    --body--inline-padding-desk: 144px;
    --body--inline-padding-lapt: 100px;
    --body--inline-padding-mob: 40px;
    



    --pc-width: 1240px;
    
    }

    img {
      width: 100%;
      height: auto;

      /* @media screen and (max-width: 1240px) {
          width: 90%;
      }
      @media screen and (max-width: 786px) {
        width: 80%;
      } */
    }

    html {
      font-family: var(--font-family-primary);
    }



    body  {
      
      background-color: var(--color-bg);  
      margin-inline: auto;
      animation: fadeIn 1.3s;
    }
    
    main {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    
    
    .container {
      /* max-width: var(--body-layout-max-width); */
      padding-inline: clamp(var(--body--inline-padding-mob), 6vw, var(--body--inline-padding-desk));
    }



    ul {
      padding: 0;
    }


    .primary-color {
      color: var(--color-primary);
    }

}
