@import url('./modules/normalize.css');
@import url('./modules/fonts.css');
@import url('./modules/colors.css');
@import url('./modules/buttons.css');

@layer base {
    html {
      font-family: var(--font-family-primary);
    }


    body.home  {
      background-color: var(--color-bg);
      
      margin: 0;
      padding: 0;
    }

    /* Font Size */
    h1 {
      font-size: var(--font-size-h1);
    }

    h2 {
      font-size: var(--font-size-h2);
    }

    h3 {
      font-size: var(--font-size-h3);
    }

    h4 {
      font-size: var(--font-size-h4);
    }

    h1, h2, h3, h4 {
      margin: 0;
      padding: 0;
    }
    

    p {
      font-size: var(--font-size-p-rg);
      
      
    }

    header,
    nav {
      display: block;
    }
    
    ul, li {
      display: inline-flex;
      align-items: center;
      /* padding: 0 10px; */
      list-style: none;
      flex: 0 0 auto;
      gap: 16.7px;
      
      position: relative;
      width: fit-content;
    }
    
    ul {
      margin: 0px;
    }
    
    a {
      text-decoration: none;
      color: var(--color-link);
    }
    
    .span-logo {
      position: relative;
    }

    .a-logo {
      display: block;
    }

    .logo {
      display: block;
      /* align-items: ; */

      /* position: relative; */
      /* cursor: pointer; */
    }


    .header-area {
      /* display: block; */
      position: relative;
      /* padding: 2px 100px; */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
    
 

    .container {
      padding: 0 100px;
      
    }


    .header-nav {
      align-items: center;
      box-sizing: border-box;
      display:  flex;
      
      justify-content: space-between;
      
    }
    

    .main-regist-button {
      /* display: inline-block; */
      position: relative;
      padding: 22px;
      display: inline-flex;
      /* justify-content: space-between; */
    } 
    
    .main-regist-button > a {
      background-color: var(--color-primary);
      color: var(--color-text);
      padding: 9px 22.7px ;
      cursor: pointer;
      border-radius: 2.7px;
    }

    
    /* HOME */


    .home {
      display: block;
      background-color: var(--color-silver);
    }

    .home .hero-section {
      display: flex;
      padding: 66px 100px;
      justify-content: space-between;
    }
    
    .home .frame {
      padding: 112px 100px;
    }
    .home .text{
      margin: 0;
      display: inline-block;
    }
    
    .home #d-grey-text {
      color: var(--color-d_grey);
    }

    .home #green-text {
      color: var(--color-primary);
    }

    .home #grey-text {

      color: var(--color-grey);
    }


    .hero-section .button {

      
      position: relative;
      display: inline-flex;
      background-color: var(--color-primary);
      color: var(--color-text);
      padding: 9px 22px ;
      cursor: pointer;
      

      gap: 6.96px;

    }
    

    .illustration {
      position: relative;
    }

  
}